[submodule "Java-Project"]
	path = Java-Project
	url = git@github.com:AbsoluteZero001/Java-Project.git
	branch = main
[submodule "Web-Project"]
	path = Web-Project
	url = git@github.com:AbsoluteZero001/Web-Project.git
	branch = main
[submodule "C-Project"]
	path = C-Project
	url = git@github.com:AbsoluteZero001/C-Project.git
	branch = main
